@use '../../App.module.scss' as *;

.bottomDiv {
    position: relative;
    // bottom: 0rem;
    width: calc(100% - 2rem);
    display: flex;
    padding: 0 1vw 1vw 1vw;
    justify-content: center;
    gap: 0.6rem;
    // margin-top: auto;

    @media (min-width: $mobileBreakpoint) {
        display: none;
    }

    .attackButton {
        width: 3.6rem;
        aspect-ratio: 1;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-width: 2px;
        filter: saturate(1.1);

        .starsContainer {
            display: flex;
            width: 81%;
            gap: 0.1rem;
            justify-content: space-around;

            .star {
                color: #a56f2c;
                font-size: 1rem;
                height: 1rem;
                animation: starAnim 3s alternate-reverse infinite;

                @for $i from 1 through 5 {
                    &:nth-of-type(#{$i}) {
                        animation-delay: calc($i*0.6s);
                    }
                }
            }

            @keyframes starAnim {
                from {
                    filter: drop-shadow(0 0 6px #ffffd5);
                    stroke: #fbf6c4;
                    color: #f3eed6ba;
                }

                to {
                    filter: none;
                    stroke: #f4973e;
                    color: #a56f2c;
                }
            }
        }

        .mapImg {
            flex: 1;
            max-height: 60%;
        }
    }

    .festContainer {
        display: flex;
        gap: 0.6rem;

        .festLogoWrapper {
            width: 12vw;
            height: 12vw;
            margin-bottom: 3vw;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 9vw;
            }
        }
    }

    .soundButton {
        width: 14vw;
        height: 14vw;
        aspect-ratio: 1;
        border-width: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3vw;


        .volumeIcon {
            font-size: clamp(1rem, 6vw, 5rem);
            color: white;
            overflow: visible;
        }
    }
}