@use '../../App.module.scss' as *;

.leftDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1vw 0 2vw 1.9vw;
  min-height: 100vh;
  box-sizing: border-box;

  img {
    object-fit: contain;
  }

  .topLeft {
    width: 23vw;
  }
  .topLeftSub {
    width: 16vw;
  }
  .middleLeft {
    width: 5.2vw;
    margin: auto 0;
  }
  .bottomLeft {
    width: 10vw;
    margin-top: auto;
  }

  @media (max-width: $mobileBreakpoint) {
    min-height: 0;
    height: fit-content;

    .middleLeft, .bottomLeft {display: none;}
    .topLeft {width: 42vw;}
    .topLeftSub {width: 30vw;}
  }
}