@use '../../App.module.scss' as *;

.leftDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1vw 0 2vw 1.9vw;
  min-height: 100vh;
  box-sizing: border-box;

  img {
    object-fit: contain;
  }

  .topLeft {
    width: 23vw;
  }

  .trophyCountWrapper {
    position: relative;

    .topLeftSub {
      width: 16vw;
    }

    .trophyCount {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 48%;
      left: 54%;
      font-size: clamp(0.6rem, 1.1vw, 1.5rem);
      color: #ffffff;
      font-family: supercell;
      text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
    }
  }

  .chatButtonWrapper {
    margin: auto 0;
    background-color: #282626;
    border: 2px solid black;
    border-left: 0px;
    border-radius: 15px;
    box-shadow: 0 0 3px black;
    padding: 0.24rem;
    transform: translateX(-3px);

    .middleLeft {
      width: 3.6vw;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        width: 2.4vw;
        aspect-ratio: 0.5;
      }
    }
  }

  .bottomLeft {
    width: 10vw;
    margin-top: auto;
  }

  @media (max-width: $mobileBreakpoint) {
    min-height: 0;
    height: fit-content;

    .middleLeft,
    .bottomLeft {
      display: none;
    }

    .topLeft {
      width: 42vw;
    }

    .trophyCountWrapper .topLeftSub {
      width: 30vw;
    }
  }
}