@use '../../App.module.scss' as *;

.leftDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1vw 0 1.2vw 1.9vw;
  min-height: 100vh;
  box-sizing: border-box;

  img {
    object-fit: contain;
  }

  .topLeft {
    width: 23vw;
  }

  .trophyCountWrapper {
    position: relative;

    .topLeftSub {
      width: 16vw;
    }

    .trophyCount {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 48%;
      left: 54%;
      font-size: clamp(0.6rem, 1.3vw, 7rem);
      color: #ffffff;
      font-family: supercell;
      text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
      letter-spacing: 1px;
    }
  }

  .chatButtonWrapper {
    margin: auto 0;
    background-color: #282626;
    border: 2px solid black;
    border-left: 0px;
    border-radius: 15px;
    box-shadow: 0 0 3px black;
    padding: 0.24rem;
    transform: translateX(-3px);
    position: absolute;
    top: 50%;
    // left: 1.2vw;
    transform: translateY(-50%);

    .middleLeft {
      width: 3.6vw;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        width: 2.4vw;
        aspect-ratio: 0.5;
      }
    }
  }

  .attackButton {
    width: 10vw;
    box-sizing: border-box;
    aspect-ratio: 1;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-width: 4px;
    filter: saturate(1.1);

    .starsContainer {
      display: flex;
      width: 81%;
      gap: 0.1rem;
      justify-content: space-around;
      
      .star {
        color: #a56f2c;
        font-size: 1rem;
        height: 1rem;
        animation: starAnim 3s alternate-reverse infinite;

        @for $i from 1 through 5 {
          &:nth-of-type(#{$i}) {animation-delay: calc($i*0.6s);}
        }
      }

      @keyframes starAnim {
        from {
          filter: drop-shadow(0 0 6px #ffffd5);
          stroke: #fbf6c4;
          color: #f3eed6ba;
        }
        to {
          filter: none;
          stroke: #f4973e;
          color: #a56f2c;
        }
      }
    }

    .mapImg {
      flex: 1;
      max-height: 60%;
    }

    .attackLabel {
      font-family: supercell;
      color: #fff;
      stroke: #000;
      stroke-width: 2px;
      -webkit-text-stroke: #000;
      -webkit-text-stroke-width: 0.5px;
      filter: drop-shadow(0 3px 0 #000);
      font-size: clamp(0.4rem, 1.2vw, 1rem);
    }
  }

  @media (max-width: $mobileBreakpoint) {
    min-height: 0;
    height: fit-content;

    .attackButton,
    .bottomLeft,
    .chatButtonWrapper {
      display: none;
    }

    .topLeft {
      width: 81vw;
      padding: 0.6rem 0;
    }

    .trophyCountWrapper .topLeftSub {
      width: 40vw;
    }
    .trophyCountWrapper {
      .trophyCount {
        font-size: clamp(1rem, 4vw, 7rem);
      }
    }
  }
}