@use "../../App.module.scss" as *;

.centerDiv {
  position: absolute;
  top: 0;
  left: 23.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  // min-height: 100vh;

  @media (max-width: $mobileBreakpoint) {
    position: relative;
    left: 0;
  }

  .timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;

    .timerUpper {
      margin: 1.3vw 0 0.3vw 0;
      font-size: clamp(0.4rem, 1.3vw, 1.5rem);
      color: #e6c3bc;
      font-family: supercell;
      text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
      letter-spacing: 1.1px;
      @media (max-width: $mobileBreakpoint) {
        font-size: 3.5vw;
        margin-bottom: 1vw;
      }
    }

    .timerLower {
      font-size: clamp(0.7rem, 1.7vw, 3rem);
      color: #ffffff;
      font-family: supercell;
      text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
      @media (max-width: $mobileBreakpoint) {
        font-size: 5.5vw;
      }
    }
  }

  .carouselBox {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #6b6662 0%, #5a5552 100%);
    // height: 35.2vw;
    width: 50vw;
    border: 1.8px solid black;
    border-radius: 1vw;
    margin: 1vw 0;
    padding: 0.8vw 0.5vw 0.6vw 0.5vw;

    @media (max-width: $mobileBreakpoint) {
      width: 90vw;
      padding: 2.4vw 1.5vw 1.5vw 1.5vw;
    }

    .carouselHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5vw;
      @media (max-width: $mobileBreakpoint) {
        margin-bottom: 2vw;
      }

      .backButton {
        width: clamp(2rem, 6.3vw, 10rem);
        cursor: pointer;
        @media (max-width: $mobileBreakpoint) {
          width: 12vw;
        }
      }

      .carouselTitle {
        font-family: supercell;
        font-size: clamp(0.5rem, 1.6vw, 4rem);
        color: #ffffff;
        @media (max-width: $mobileBreakpoint) {
          font-size: 4vw;
        }
      }
    }

    .cardBox {
      display: flex;
      flex-direction: column;
      gap: 1.45vw;
      background-color: #e6e7d7;
      border-radius: 0.6vw;
      padding: 1.4vw 0 1.56vw 0;
      @media (max-width: $mobileBreakpoint) {
        padding: 2.4vw 0;
      }

      .card {
        display: flex;
        padding-left: 2vw;
        gap: 2vw;

        .cardImage {
          width: 45%;
        }

        .cardDetails {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: center;
          gap: 1.5vw;
          padding-right: 2vw;
          @media (max-width: $mobileBreakpoint) {
            gap: 3vw;
          }

          .subDetailsBox {
            display: grid;
            grid-template-columns: 40% 48%;
            justify-content: center;

            .field {
              font-family: supercell;
              font-size: clamp(0.4rem, 1.4vw, 3rem);
              color: #2a548e;
              @media (max-width: $mobileBreakpoint) {
                font-size: clamp(0.4rem, 3vw, 7rem);
              }
            }

            .value {
              font-family: supercell;
              font-size: clamp(0.4rem, 1.4vw, 3rem);
              color: #000;
              @media (max-width: $mobileBreakpoint) {
                font-size: clamp(0.4rem, 3vw, 7rem);
              }
            }
          }
          .divider {
            width: 90%;
            height: 2px;
            background-color: #858676;
            @media (max-width: $mobileBreakpoint) {
              height: 1px;
            }
          }
        }
      }

      .message {
        font-family: supercell;
        font-size: clamp(0.4rem, 1.4vw, 2rem);
        color: #2a548e;
        text-align: center;
        padding: 0 4vw;
        @media (max-width: $mobileBreakpoint) {
          font-size: clamp(0.4rem, 3.5vw, 7rem);
          margin: 2vw 0;
        }
      }
    }
  }
  .verticalBox {
    box-sizing: border-box;
    display: flex;
    gap: 1.1vw;
    border: 3.8px solid black;
    border-radius: 1.2vw;
    padding: 0.5vw 1.3vw;
    background-color: hsla(0, 0%, 0%, 0.4);
    margin-bottom: 1.2vw;
    height: 10vw;

    @media (max-width: $mobileBreakpoint) {
      border: 2px solid black;
      height: auto;
      padding: 1.5vw 3vw;
      margin: 2vw 0 0 0;
    }

    .verticalItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5vw;
      background-color: #5378a1e5;
      border-radius: 1vw;
      border: 2.2px solid black;
      width: 6.3vw;
      cursor: pointer;

      @media (max-width: $mobileBreakpoint) {
        width: 14vw;
      }

      p {
        border-top-left-radius: 0.7vw;
        border-top-right-radius: 0.7vw;
        font-family: supercell;
        font-size: clamp(0.63rem, 1.2vw, 1rem);
        color: #fff;
        text-shadow: -1.3px -1.3px 0 black, 1.3px -1.3px 0 black,
          -1.3px 1.3px 0 black, 1.3px 1.3px 0 black;
        background-color: #4e88ce;
        width: 100%;
        text-align: center;
        padding: 0.3vw 0;
        box-sizing: border-box;
        @media (max-width: $mobileBreakpoint) {
          padding: 1vw 0;
        }
      }

      img {
        margin: 0.8vw auto 1.6vw auto;
        height: 3.75vw;

        @media (max-width: $mobileBreakpoint) {
          margin: 1.3vw auto 1.6vw auto;
          height: 8vw;
          padding-bottom: 0.3rem;
        }
      }
    }
    .inactive {
      background: linear-gradient(to bottom, #201d17, #45413a);

      p {
        color: #757a77;
        text-shadow: -1.3px -1.3px 0 black, 1.3px -1.3px 0 black,
          -1.3px 1.3px 0 black, 1.3px 1.3px 0 black;
        background-color: transparent;
      }

      img {
        filter: grayscale(1);
      }
    }
  }
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 10;
  display: none;
}
