@use "../../App.module.scss"  as *;

.centerDiv {
  position: absolute;
  top: 0;
  left: 23.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
  // min-height: 100vh;

  @media (max-width: $mobileBreakpoint) {
    position: relative;
    left: 0;
  }

  .timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin: 1.4vw 0 0 0;

    .timerUpper {
      font-size: clamp(0.6rem, 1.1vw, 1.5rem);
      color: #e6c3bc;
      font-family: supercell;
      text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
    }

    .timerLower {
      font-size: clamp(1rem, 1.7vw, 1.8rem);
      color: #ffffff;
      font-family: supercell;
      text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
    }
  }

  .carouselBox {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #6b6662 0%, #5a5552 100%);
    // height: 35.2vw;
    width: 54.7vw;
    border: 1.8px solid black;
    border-radius: 1vw;
    margin: 1vw 0;
    padding: 0.8vw 0.5vw 0.6vw 0.5vw;

    @media (max-width: $mobileBreakpoint){
      width: 90vw;
    }

    .carouselHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5vw;

      .backButton {
        width: clamp(2.7rem, 6vw, 5rem);
        cursor: pointer;
      }

      .carouselTitle {
        font-family: supercell;
        font-size: clamp(0.7rem, 1.4vw, 2rem);
        color: #ffffff;
      }
    }

    .cardBox {
      display: flex;
      flex-direction: column;
      gap: 1.45vw;
      background-color: #e6e7d7;
      border-radius: 0.6vw;
      padding: 1.4vw 0 1.56vw 0;
      @media (max-width: $mobileBreakpoint) {
        padding: 2.4vw 0;
      }

      .card {
        display: flex;
        padding-left: 2vw;
        gap: 2vw;

        .cardImage {
          width: 45%;
        }

        .cardDetails {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: center;
          gap: 1.5vw;
          padding-right: 2vw;

          .subDetailsBox {
            display: grid;
            grid-template-columns: 40% 48%;
            justify-content: center;

            .field {
              font-family: supercell;
              font-size: clamp(0.6rem, 1.3vw, 2rem);
              color: #2a548e;
            }

            .value {
              font-family: supercell;
              font-size: clamp(0.6rem, 1.3vw, 2rem);
              color: #000;
            }
          }
          .divider {
            width: 100%;
            height: 2px;
            background-color: #858676;
          }
        }
      }

      .message {
        font-family: supercell;
        font-size: clamp(0.6rem, 1.2vw, 2rem);
        color: #2a548e;
        text-align: center;
        padding: 0 4vw;
      }
    }
  }
  .verticalBox {
    display: flex;
    gap: 1.6vw;
    border: 3.8px solid black;
    border-radius: 1.5vw;
    padding: 0.7vw;
    background-color: hsla(0, 0%, 0%, 0.4);

    @media (max-width: $mobileBreakpoint) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .verticalItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5vw;
      background-color: #5378a1e5;
      border-radius: 1vw;
      border: 2.2px solid black;
      width: 7vw;

      @media (max-width: $mobileBreakpoint) {width: 20vw}

      p {
        border-top-left-radius: 0.7vw;
        border-top-right-radius: 0.7vw;
        font-family: supercell;
        font-size: clamp(0.63rem, 1.2vw, 1rem);
        color: #fff;
        text-shadow: -1.3px -1.3px 0 black, 1.3px -1.3px 0 black,
          -1.3px 1.3px 0 black, 1.3px 1.3px 0 black;
        background-color: #4e88ce;
        width: 100%;
        text-align: center;
        padding: 0.3vw 0;
        box-sizing: border-box;
      }

      img {
        margin: 0.8vw auto 1.6vw auto;
        height: 3.75vw;

        @media (max-width: $mobileBreakpoint) {
          height: 8vw;
          padding-bottom: 0.3rem;
        }
      }
    }
    .inactive {
      background: linear-gradient(to bottom, #201d17, #45413a);

      p {
        color: #757a77;
        text-shadow: -1.3px -1.3px 0 black, 1.3px -1.3px 0 black,
          -1.3px 1.3px 0 black, 1.3px 1.3px 0 black;
        background-color: transparent;
      }

      img {filter: grayscale(1);}
    }
  }
}

video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 10;
  display: none;
}
