@use "../../App.module.scss" as *;

.warMapContainer {
    position: fixed;
    height: 100dvh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;

    ::-webkit-scrollbar {display: none;}
}