.warMap {
  background: center / cover no-repeat url("/imgs/warMap3.png");
  width: 100vw;
  aspect-ratio: 1362/2048;
  display: flex;
  justify-content: space-between;
  &::-webkit-scrollbar {
    display: none;
  }

  .header{
    width: 50vw;
    height: 10vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 3vw;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1vw;
    border: 2px solid #fff;
  }
}
