@use "../../App.module.scss" as *;

.cloudsContainer {
    position: fixed;
    height: 100vh;
    width: 100dvw;
    top: 0;
    left: 0;
    animation: cloudsBgAnim 4s linear;
    z-index: 100;

    .clouds, .cloudsInverted {
        position: fixed;
        position: fixed;
        height: 100vh;
        width: 100dvw;
        top: 0;
        left: 0;
    }

    .clouds {
        transform: translate(-100%);
        &:nth-of-type(1) {animation: cloudAnim 4s linear;}
        &:nth-of-type(2) {animation: cloudAnim 3.5s linear 0.25s;}
        &:nth-of-type(3) {animation: cloudAnim 3s linear 0.5s;}
    }
    .cloudsInverted {
        transform: rotateZ(180deg) translate(-100%);
        &:nth-of-type(4) {animation: cloudInvertedAnim 4s linear;}
        &:nth-of-type(5) {animation: cloudInvertedAnim 3.5s linear 0.25s;}
        &:nth-of-type(6) {animation: cloudInvertedAnim 3s linear 0.5s;}
    }

    @keyframes cloudsBgAnim {
        0% {background-color: #fff0;}
        20% {background-color: #fff0;}
        45% {background-color: #E5E9ED;}
        55% {background-color: #E5E9ED;}
        80% {background-color: #fff0;}
        100% {background-color: #fff0;}
    }

    @keyframes cloudAnim {
        0% {transform: translate(-100%, 100%);}
        30% {transform: translate(0%);}
        70% {transform: translate(0%);}
        100% {transform: translate(-100%, 100%);}
    }
    @keyframes cloudInvertedAnim {
        0% {transform: rotateZ(180deg) translate(-100%, 100%);}
        30% {transform: rotateZ(180deg) translate(0%);}
        70% {transform: rotateZ(180deg) translate(0%);}
        100% {transform: rotateZ(180deg) translate(-100%, 100%);}
    }
}