@use '../../App.module.scss' as *;

.page {
  background: center / cover no-repeat url("/svgs/bg.svg");
  width: 100vw;
  min-height: 100svh;
  height: 100svh;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow-y: scroll;
  &::-webkit-scrollbar {display: none;}

  @media (max-width: $mobileBreakpoint) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    background-position-x: 9%;

    .leftDiv {grid-area: 1 / 1 / span 1 / span 1;}
    .rightDiv {grid-area: 1 / 2 / span 1 / span 1;}
    .centerDiv {grid-area: 2 / 1 / span 1 / span 2;}
  }
}
