@font-face {
  font-family: supercell2;
  src: url("/font/Supercell-Magic\ Regular.ttf");
}
@font-face {
  font-family: supercell;
  src: url("/font/Clash_Regular.otf");
}

* {
  margin: 0;
  padding: 0;
}
body {
  // overflow: hidden;
}
