@use '../../App.module.scss' as *;

.rightDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2.8vw 1.7vw 0 0;
  min-height: 100vh;
  box-sizing: border-box;

  img {
    object-fit: contain;
  }
  .topRight {
    width: 15vw;
  }
  .topRightSub {
    width: 14vw;
    margin: 3vw 0 3.5vw 0;
  }
  .middleRight1 {
    width: 5.2vw;
  }
  .middleRight2 {
    width: 5.2vw;
    margin: 1vw 0;
  }
  .middleRight3 {
    width: 5.2vw;
    cursor: pointer;

    .volumeIcon {
      font-size: clamp(1rem, 3vw, 3rem);
      color: white;
    }
  }

  @media (max-width: $mobileBreakpoint) {
    min-height: 0;
    height: fit-content;
    
    .middleRight1, .middleRight2, .middleRight3 {display: none;}
    .topRight {width: 30vw;}
    .topRightSub {width: 24vw;}
  }
}
