@use '../../App.module.scss' as *;

.rightDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1vw 1.7vw 1.2vw 0;
  min-height: 100vh;
  box-sizing: border-box;

  img {
    object-fit: contain;
  }

  .topRight {
    width: 15vw;

    @media (max-width: $mobileBreakpoint) {
      display: none
    }
  }

  .topRightSub {
    width: 11vw;
    margin: 1vw 0 3.5vw 0;

    @media (max-width: $mobileBreakpoint) {
      margin-top: calc(90vw/6.3 + 1rem);
    }
  }

  .rightSideButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: auto;
    .festLogoWrapper {
      width: 4.8vw;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .festLogo {
        width: 3.3vw;
      }
    }

    .middleRight3 {
      width: 4.8vw;
      cursor: pointer;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .volumeIcon {
        font-size: clamp(1rem, 3vw, 3rem);
        color: white;
        overflow: visible;
      }
    }
  }


  @media (max-width: $mobileBreakpoint) {
    min-height: 0;
    height: fit-content;

    .rightSideButtonContainer {
      display: none;
    }

    .topRight {
      width: 40vw;
    }

    .topRightSub {
      padding-top: 1vw;
      width: 35vw;
    }
  }
}